name: Release pipeline
run-name: ${{ github.actor }} ran release pipeline for ${{ github.event_name == 'pull_request' && github.event.pull_request.title || github.ref_name }}

defaults:
  run:
    shell: sh

on:
  push:
    branches:
    - master
  pull_request:

permissions:
  contents: read
  actions: read
  checks: write

env:
  SPEC_ARTIFACT_NAME: people-service-openapi-spec
  SPEC_FILE: ./people-service-api.json
  AISA_TARGET_PATH: public_html/bachelor_thesis/people_service/api
  PACT_BROKER_URL: ${{ vars.PACT_BROKER_URL }}
  GIT_COMMIT: ${{ github.sha }}
  COMPONENT_NAME_PASCAL_CASE: PeopleService

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  setup:
    name: Setup pipeline
    runs-on: ubuntu-latest
    outputs:
      long-sha: ${{ steps.get-sha.outputs.long-sha }}
      short-sha: ${{ steps.get-sha.outputs.short-sha }}
      branch-name: ${{ steps.get-sha.outputs.branch-name }}
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - shell: sh
      id: get-sha
      run: |
        LONG_SHA=$(git rev-parse "$GIT_COMMIT")
        echo "long-sha=$LONG_SHA" >> $GITHUB_OUTPUT
        SHORT_SHA=$(git rev-parse --short=7 "$GIT_COMMIT")
        echo "short-sha=$SHORT_SHA" >> $GITHUB_OUTPUT
        BRANCH_NAME=${{ github.head_ref || github.ref_name }}
        echo "branch-name=$BRANCH_NAME" >> $GITHUB_OUTPUT

  contract-verification:
    name: Contract verification
    needs: setup
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        ref: ${{needs.setup.outputs.long-sha}}

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version-file: .java-version
        distribution: corretto

    - name: Maven cache
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-m2-

    - name: Pact (contract) verification
      shell: sh
      run: |
        ./mvnw verify pact:publish \
            -Dpact.tests.skip=false \
            -Ddefault.tests.skip=true \
            -Dpactbroker.url=${{ env.PACT_BROKER_URL }} \
            -Dpactbroker.auth.username=${{ secrets.PACT_BROKER_USERNAME }} \
            -Dpactbroker.auth.password="${{ secrets.PACT_BROKER_PASSWORD }}" \
            -Dpact.broker.url=${{ env.PACT_BROKER_URL }} \
            -Dpact.broker.user="${{ secrets.PACT_BROKER_USERNAME }}" \
            -Dpact.broker.password="${{ secrets.PACT_BROKER_PASSWORD }}" \
            -Dpact.verifier.publishResults=true \
            -Dpact.provider.version=${{ needs.setup.outputs.short-sha }} \
            -Dpactbroker.providerBranch=${{ needs.setup.outputs.branch-name }} \
            -Dpact.provider.branch=${{ needs.setup.outputs.branch-name }} \
            -Dpact.consumer.version=${{ needs.setup.outputs.short-sha }} \
            -Dpact.publish.consumer.branchName=${{ needs.setup.outputs.branch-name }} \
            -Dpact.tags=${{ needs.setup.outputs.short-sha }} \
            -Dpact_do_not_track=true
    #    pactbroker.X is for provider part
    #    pact.broker.X is for consumer part
    - name: Contracts Report
      uses: dorny/test-reporter@v2
      if: success() || failure()
      with:
        name: Contract Tests
        path: target/failsafe-reports/*.pact.*.xml
        reporter: java-junit

  generate-openapi-spec:
    name: Generate OpenAPI spec and upload as artifact
    runs-on: ubuntu-latest
    needs: [ setup ]
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/generate-openapi
      with:
        artifact_name: ${{ env.SPEC_ARTIFACT_NAME }}
        spec_file: ${{ env.SPEC_FILE }}

  validate-openapi:
    name: OpenAPI Spec Validation
    runs-on: ubuntu-latest
    needs: [ setup, generate-openapi-spec ]
    steps:
    - uses: actions/checkout@v5
    - uses: actions/download-artifact@v5
      with:
        name: ${{ env.SPEC_ARTIFACT_NAME }}
    - name: Validate OpenAPI Specification
      uses: jakubfilo/openapi-validator@main
      with:
        spec-path: ${{ env.SPEC_FILE }}

  publish-spec:
    name: Publish OpenApi spec to predefined URL (AISA)
    runs-on: ubuntu-latest
    needs: [ setup, generate-openapi-spec, validate-openapi, contract-verification ]
    if: ${{ github.ref_name == github.event.repository.default_branch }}
    steps:
    - uses: actions/checkout@v5
    - uses: actions/download-artifact@v5
      with:
        name: ${{ env.SPEC_ARTIFACT_NAME }}
    - name: Upload OpenApi spec to AISA server
      uses: appleboy/scp-action@v1
      with:
        host: ${{ secrets.AISA_HOST }}
        username: ${{ secrets.AISA_USERNAME }}
        password: ${{ secrets.AISA_PASSWORD }}
        source: ${{ env.SPEC_FILE }}
        target: ${{ env.AISA_TARGET_PATH }}
        overwrite: true
