name: Generate and publish OpenAPI spec
run-name: ${{ github.actor }} published OpenAPI spec for ${{ github.ref_name }}

defaults:
  run:
    shell: sh

env:
  SPEC_ARTIFACT_NAME: people-service-openapi-spec
  SPEC_FILE: ./people-service-api.json
  AISA_TARGET_PATH: public_html/bachelor_thesis/people_service/api

on:
  push:
    branches:
    - master

concurrency:
  group: ${{ github.workflow }}

jobs:
  setup:
    name: Setup pipeline
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.short-sha }}
    steps:
    - uses: actions/checkout@v5
    - id: version
      run: echo "short-sha=$(echo $GITHUB_SHA | cut -c 1-7)" >> $GITHUB_OUTPUT

  generate-openapi-spec:
    name: Generate and upload as artifact
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/generate-openapi
      with:
        artifact_name: ${{ env.SPEC_ARTIFACT_NAME }}
        spec_file: ${{ env.SPEC_FILE }}

  validate-openapi:
    name: OpenAPI Spec Validation
    runs-on: ubuntu-latest
    needs: [ setup, generate-openapi-spec ]
    steps:
    - uses: actions/checkout@v5
    - uses: actions/download-artifact@v5
      with:
        name: ${{ env.SPEC_ARTIFACT_NAME }}
    - name: Validate OpenAPI Specification
      uses: jakubfilo/openapi-validator@main
      with:
        spec-path: ${{ env.SPEC_FILE }}

  publish-spec:
    name: Publish OpenApi spec to predefined URL
    runs-on: ubuntu-latest
    needs: [ setup, generate-openapi-spec, validate-openapi ]
    steps:
    - uses: actions/checkout@v5
    - uses: actions/download-artifact@v5
      with:
        name: ${{ env.SPEC_ARTIFACT_NAME }}
    - name: Upload OpenApi spec
      uses: appleboy/scp-action@v1
      with:
        host: ${{ secrets.AISA_HOST }}
        username: ${{ secrets.AISA_USERNAME }}
        password: ${{ secrets.AISA_PASSWORD }}
        source: ${{ env.SPEC_FILE }}
        target: ${{ env.AISA_TARGET_PATH }}
        overwrite: true


