name: Generate and publish OpenAPI spec
run-name: ${{ github.actor }} published OpenAPI spec for ${{ github.ref_name }}

defaults:
  run:
    shell: sh

env:
  SPEC_ARTIFACT_NAME: people-service-openapi-spec
  SPEC_FILE: ./api/people-service-api.json

on:
  push:
    branches:
    - master

concurrency:
  group: ${{ github.workflow }}

jobs:
  setup:
    name: Setup pipeline
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.short-sha }}
    steps:
    - uses: actions/checkout@v5
    - id: version
      run: echo "short-sha=$(echo $GITHUB_SHA | cut -c 1-7)" >> $GITHUB_OUTPUT

  generate-openapi-spec:
    name: Generate and upload as artifact
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/generate-openapi
      with:
        artifact_name: ${{ env.SPEC_ARTIFACT_NAME }}

#  publish-spec:
#    name: Publish OpenApi spec to predefined URL
#    runs-on: ubuntu-latest
#    needs: [ setup, generate-openapi-spec ]
#    steps:
#    - uses: actions/checkout@v5
#    - uses: actions/download-artifact@v5
#      with:
#        name: ${{ env.SPEC_ARTIFACT_NAME }}
#        path: ${{ env.SPEC_FILE }}
#    - name: Upload OpenApi spec
#      with:
#        docs-path: ${{ env.SPEC_FILE }}
#        project: ${{ github.event.repository.name }}
#        version: current
#        api-token: ${{ secrets.DOCS_API_TOKEN }}
# TODO Finish me and upload me to AISA

